body, header, nav, article, section, img, a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color:white;
  } 
  
  body{
    background-color: rgb(14,14,14)
  }
    
  header{
    background-color: rgb(20,20,20);
    }
  
  h1 {
    margin: 0px;
    padding: 0px
  }

  h1 img{
    position: absolute;
    max-height: 110px;
    max-width: 430px;
    top: 145px;
    left: 70px;
  }
  /*Classes*/
  .articleNav{
    display:flex;
    justify-content:space-between;
  }

  .sectionLogo img{
    max-width: 140px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .sectionOne{
    padding: 20px 210px;
    text-align: left;
    position: absolute;
  }

  .sectionOne a{
    padding:10px;
  }

  .sectionTwo{
    padding:20px;
    margin-right:20px;
  }
  
  /*Titulo Principal*/
  .container{
    position:relative;
    width:100%;
    max-width:2000px;
  }
  .container img{
    width:100%;
    height: 500px;
  }

  .mainText{
    position:absolute;
    text-align: justify;
    width: 400px;
    bottom: 160px;
    left: 70px;
    text-shadow: 1px 1px 2px black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
  }
  
  .btnWatch{
    position: absolute;
    bottom: 120px;
    left: 70px;
    background-color: white;
    color: black;
    padding: 15px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .btnInfo{
    position: absolute;
    bottom:120px;
    left:255px;
    background-color:grey;
    color:black;
    padding: 15px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:5px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }